My workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 7
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "f24bb82c-8da0-47d4-9a1d-a0acbd874f98",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://zenquotes.io/api/today",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        220,
        0
      ],
      "id": "6d7ccb72-87c9-4096-acd0-baa84fac7d83",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "chatId": "1566253895",
        "text": "={{ $json.q }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        440,
        0
      ],
      "id": "882d7e14-deae-49ba-9cd6-c79115c96f13",
      "name": "Send a text message",
      "webhookId": "c59eaa2a-4ff7-443a-ba5f-559c8f24f4c6",
      "credentials": {
        "telegramApi": {
          "id": "yWjLrmtBoO8xUBY0",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "2d6df54e-cd6b-4ff0-b7ce-1fe8afd03822",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5a4f6b83f4d634752413dc100256d9c78f309ece1e8849c65df3e6ae651f2110"
  },
  "id": "ynhySQfqmgrDEmjw",
  "tags": []
}